#submitBtn {
	font-size: 1rem;
	padding: 1rem 1rem 1rem 1rem;
	width: 10rem;
	background-color: rgb(56, 255, 113);
	border: none;
	border-radius: 5px;
	margin-top: 1rem;
}

#addToTotalInput,
#titleOfPurchaseInput {
	border: none;
	border-radius: 5px;
	padding: 1rem 1rem 1rem 1rem;
	width: 15rem;
	font-weight: 400;
	font-size: 1.5rem;
	text-align: center;
}

#titleOfPurchaseInput {
	margin-bottom: 1rem;
}

#valueInputWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#totalValueOuter {
	padding: 1rem 1rem 1rem 1rem;
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
}

#avgDailySpendingOuter {
	padding: 1rem 1rem 1rem 1rem;
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
}

#totalValueInner {
	padding-left: 1rem;
}

#avgDailySpendingInner {
	padding-left: 1rem;
}

.listOfSpendings {
	list-style-type: none;
	padding: 0;

}

.listOfSpendings li {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 8px;
}

.spending-title {
	width: 120px;
	text-align: left;
}

.spending-value {
	width: 50px; 
}

.spending-delete {
	width: 30px;
	height: 30px;
}
