html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 1rem;
}

body {
	height: 100vh;
    background: linear-gradient(to top, #2F80ED, #56CCF2);
}

#root {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


